.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
    width: 33.333333%;

}
.card {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 8px;
    border-radius: 8px;
    min-width: 300px;
    margin: 20px;
    text-align: center;
}
.inputDiv {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.inputDiv input {
    border-radius: 8px;
    padding: 8px 10px;
    margin: 6px 0;
    width: 100%;
    border: 1px solid gray;
    outline: none;
}

.SubmitBtn {
    width: 30%;
    padding: 10px;
    border-radius: 8px;
    margin: 10px auto;
    border: none;
    background: #0000ff;
    color: aliceblue;
}